@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

/*COMMON SHARED STYLE */

.span-color {
    color: #FF5400;
}

.description-color {
    color: #424247;
}


/* HEADER SECTION STYLE START */
.header {
    max-width: 1160px;
    margin: 50px auto 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav .bars{
    display: none;
}

.site-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}


.site-logo h1 {
    margin-left: 15px;
    color: #131318;
    font-size: 2rem;
    font-weight: 800;


}

nav>ul {
    display: flex;
    align-items: center;

}

nav ul li {
    list-style: none;
    margin-right: 40px;
    text-align: center;
    font-size: 1.25rem;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: #424247;
}

/* BANNER STYLE START */
.banner {
    width: 1160px;
    height:700px;
    border-radius: 1rem;
    margin-top: 50px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat:no-repeat;
}

.banner-content {
    padding-top: 100px;
    text-align: center;
}

.banner-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}

.description {
    margin-top: 1.25rem;
    color: #FFF;
    font-size: 1rem;
    text-align: center;
    line-height: 26px;
    margin-bottom: 4rem;
}

.form {
    width: 70%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    text-align: center;
    margin: 0 auto;
}

input {
    width: 175px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    padding: 1rem;
    border-radius: 8px;
    outline: none;
    border: none;
    margin: 10px;
}

button {
    width: 175px;
    color: #FFF;
    background: #FF5400;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 8px;
    outline: none;
    border: none;
    margin: 10px;
    cursor: pointer;

}

/* OUR POPILAR TOUR SECTION START */
.popular-tour {
    max-width: 1160px;
    margin: 0 auto;


}

.popular-tour-container {
    display: flex;
    gap: 3rem;
    margin-top: 100px;

}

.popular-tour-left {
    width: 50%;
}
.popular-tour-left li{
    margin-left:15px;
}

.popular-tour-right {
    width: 50%;
}

.section-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 1.25rem;
}
.section-description,
li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 1.25rem;
}

.popular-tour img {
    width: 100%;
    height: 620px;
}

/* OUR DESTINATION SECTION STYLE START */

.our-desti {
    max-width: 1160px;
    margin: 100px auto 0;
}
.our-desti-top{
    margin-bottom: 50px;
}

.our-desti-container {
    text-align: center;
}

.top-photo {
    display: flex;
    gap: 1rem;
    position: relative;
}

.grid-text {
    position: absolute;
    margin-top: -150px;
    margin-left: 250px;
    color: #FFF;
}

.center-photo {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
    position: relative;

}

.grid-text-srilanka {
    position: absolute;
    margin-top: -150px;
    color: #fff;
    margin-left: 150px;

}

.grid-text-america {
    position: absolute;
    margin-top: -150px;
    color: #fff;
    margin-left: 150px;
}

.grid-text-kashmir {
    position: absolute;
    margin-top: -150px;
    color: #fff;
    margin-left: 90px;
}

.bottom-photo {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    position: relative;
}

.grid-text-bangladesh {
    position: absolute;
    margin-top: -160px;
    color: #fff;
    margin-left: 160px;
}

.grid-text-bandarban {
    position: absolute;
    margin-top: -160px;
    color: #fff;
    margin-left: 260px;


}

/* WHY CHOOSE US SECTION START */
.choose-us-section {
    max-width: 1160px;
    margin: 100px auto 0;

}

.choose-us-top {
    text-align: center;
    
}

.choose-services {
    display: flex;
    margin-top: 100px;
    gap: 24px;
}

.choose-1 {
    padding: 24px;
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    gap: 50px;

}

.choose-2 {
    padding: 24px;
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    margin-bottom: 24px;
}

.choose-3 {
    padding: 24px;
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin: 0 auto;
}

.choose-img {
    width: 64px;
    height: 64px;
}

.inner-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

/* SIMPLE PERFECT PLACE SECTION START  */
.perfect-place {
    max-width: 1160px;
    margin: 100px auto 0;
    
}

.perfect-place-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.50rem;
}

.pp-left .section-list {
    color: #131318;
    font-size: 1rem;
    font-weight: 700;
    line-height: 26px;
    margin-left:15px;

}

.pp-video iframe {
    margin-top: 1rem;
    border-radius: 1rem;
}

/* NEWS LETTER SECTION START */
.news-letter {
    max-width: 1160px;
    margin: 100px auto 0;
}

.news-letter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.25em;
}

.news-ltr-lt {
    border: 1px solid #FF5400;
    border-radius: 1rem;
    padding: 40px;
}

.news-ltr-lt .inner-title {
    margin-bottom: 1rem;
}

.news-ltr-form {
    margin-top: 1.25rem;
}

.news-ltr-form input {
    width: 380px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: #5A5A5D;
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 1rem;
}

.news-ltr-form .primary-btn {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
}




/* FOOTER SECTION */
.footer {
    margin: 100px auto 0;
    background: rgba(19, 19, 24, 0.05);
    height: 500px;

}

.footer-container {
    padding-top: 110px;
    text-align: center;
    margin: 0 auto;
}

.footer-logo {
    display: flex;
    justify-content: center;
}

.footer-logo .footer-text {
    margin-left: 15px;
}

.icon-text .section-description {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.social hr {
    width: 60%;
    text-align: center;
    margin: 50px auto;
}

.copyright {
    margin: 50px;
}

.copyright-text {
    color: #131318;
    font-weight: 300;

}


/* RESPONSIV MEDIA QUERY */
/* RESPONSIVE FOR SMALL DEVICE OR PHONE DEVICES */
@media screen and (max-width:600px) {
    .popular-tour-container ,
    .top-photo ,
    .center-photo ,
    .bottom-photo ,
    .choose-services ,
    .perfect-place-container ,
    .news-letter-container

    {
        flex-direction: column;
    }
    .popular-tour-container

     {
        text-align: center;
        padding: 20px;
    }
    .popular-tour-left ,
    .popular-tour-right
    {
        width:100%;
    }
    .our-desti ,
    .header ,
    .perfect-place 
    {
        padding:20px;
    }
    .section-title {
        font-size: 32px;
    }
    .banner-content .banner-title{
        margin-top:50px;
    
    }
    .our-destination-photo img 

    {
        width:100%;    
        height:100%;
    }
    
    .grid-text {
        position: absolute;
        margin-top: -154px;
        margin-left: 220px;
        color: #FFF;
    }

    .grid-text-srilanka {
        position: absolute;
        margin-top: -220px;
        color: #fff;
        margin-left: 240px;
    }

    .grid-text-america {
        position: absolute;
        margin-top: -187px;
        color: #fff;
        margin-left: 195px;
    }

    .grid-text-kashmir {
        position: absolute;
        margin-top: -270px;
        color: #fff;
        margin-left: 240px;
    }
    .grid-text-bangladesh {
        position: absolute;
        margin-top: -190px;
        color: #fff;
        margin-left: 206px;
    }
    .grid-text-bandarban {
        position: absolute;
        margin-top: -151px;
        color: #fff;
        margin-left: 220px;
    }

   .choose-us-top{
        margin:2rem;
   }
    .choose-1 ,
    .choose-2
     {
        padding: 24px;
        width: 573px;
        height: 284px;
        border-radius: 16px;
        margin: 0 auto;
    }

    .choose-2{
        margin-bottom:1.25rem;
    }
    
    .pp-left .section-list{
        font-size:14px;
        margin-left:15px;

    }
    .pp-video iframe {
        width: 550px;
        height:440px;
    }
    .news-ltr-form{
        text-align: center;
    }
    
    .news-ltr-rt img ,
    .news-ltr-lt
    {
        width:550px;
    }


    
    nav ul{
        display: none;
    }
    nav .bars{
        display: block;
        margin-right:20px;
        cursor: pointer;
    }


    .banner {
        width:560px;
        padding:0 20px;
    
    }

    .banner-content {
        padding-top: 5px;
    }
    .banner-content .description{
        width: 440px;
        font-size: 14px;
        margin:0 auto 32px;
    }

    .form {
        width: 287px;
    }
    .banner-title{
        font-size:2rem;
    }

    input {
        width: 255px;
        height: 52px;
    }

    .footer-logo img{
        font-size: 24px;
    }

    .footer-logo .footer-text
    {
        font-size: 24px;
        margin-top:10px;
        
    }
  
    .icon-text{
        width:400px;
        text-align: center;
        margin: 0 auto;
        font-size: 14px;
    }
    .copyright-text{
        font-size: 14px;
    }

}