@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

/*COMMON SHARED STYLE */

.span-color {
    color: #FF5400;
}

.description-color {
    color: #424247;
}


/* HEADER SECTION STYLE START */
.header {
    max-width: 1160px;
    margin: 50px auto 100px;
}

nav {
    display: flex;
    justify-content: space-between;

}

.site-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.site-logo h1 {
    margin-left: 15px;
    color: #131318;
    font-size: 2rem;
    font-weight: 800;


}

nav>ul {
    display: flex;
    align-items: center;

}

nav ul li {
    list-style: none;
    margin-right: 40px;
    text-align: center;
    font-size: 1.25rem;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: #424247;
}

/* BANNER STYLE START */
.banner {
    width: 1160px;
    height: 500px;
    border-radius: 1rem;
    margin-top: 50px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(/assets/images/Group\ 13\ \(1\)\ \(1\).png);
}

.banner-content {
    padding-top: 100px;
    text-align: center;
}

.banner-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}

.description {
    margin-top: 1.25rem;
    color: #FFF;
    font-size: 1rem;
    text-align: center;
    line-height: 26px;
    margin-bottom: 4rem;
}

.form {
    width: 70%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    text-align: center;
    margin: 0 auto;
}

input {
    width: 175px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    padding: 1rem;
    border-radius: 8px;
    outline: none;
    border: none;
    margin: 10px;
}

button {
    width: 175px;
    color: #FFF;
    background: #FF5400;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 8px;
    outline: none;
    border: none;
    margin: 10px;
    cursor: pointer;

}

/* OUR POPILAR TOUR SECTION START */
.popular-tour {
    max-width: 1160px;
    margin: 0 auto;


}

.popular-tour-container {
    display: flex;
    gap: 3rem;
    margin-top: 100px;

}

.popular-tour-left {
    width: 50%;
}

.popular-tour-right {
    width: 50%;
}

.section-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 1.25rem;
}

.section-description,
li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 1.25rem;
}

.popular-tour img {
    width: 100%;
    height: 620px;
}
/* OUR DESTINATION SECTION STYLE START */

.our-destination1{
    max-width: 1160px;
    margin: 0 auto;
}
/* .our-destination-container{
    max-width: 1160px;
    margin:0 auto;
} */



/* WHY CHOOSE US SECTION START */
.choose-us-section {
    max-width: 1160px;
    margin: 100px auto 0;

}

.choose-us-top {
    text-align: center;
}

.choose-services {
    display: flex;
    margin-top: 100px;
    gap: 24px;
}

.choose-1 {
    padding: 24px;
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    gap: 50px;

}

.choose-2 {
    padding: 24px;
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    margin-bottom: 24px;
}

.choose-3 {
    padding: 24px;
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin: 0 auto;
}

.choose-img {
    width: 64px;
    height: 64px;
}

.inner-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

/* SIMPLE PERFECT PLACE SECTION START  */
.perfect-place {
    max-width: 1160px;
    margin: 100px auto 0;
    border: 1px solid red;
}

.perfect-place-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.50rem;
}

.pp-left .section-list {
    color: #131318;
    font-size: 1rem;
    font-weight: 700;
    line-height: 26px;

}

.pp-video iframe {
    margin-top: 1rem;
    border-radius: 1rem;
}

/* NEWS LETTER SECTION START */
.news-letter {
    max-width: 1160px;
    margin: 100px auto 0;
}

.news-letter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.25em;
}

.news-ltr-lt {
    border: 1px solid #FF5400;
    border-radius: 1rem;
    padding: 40px;
}

.news-ltr-lt .inner-title {
    margin-bottom: 1rem;
}

.news-ltr-form {
    margin-top: 1.25rem;
}

.news-ltr-form input {
    width: 380px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: #5A5A5D;
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 1rem;
}

.news-ltr-form .primary-btn {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
}




/* FOOTER SECTION */
.footer {
    margin: 100px auto 0;
    background-color: #00fff2;
    height: 100vh;
    text-align: center;

}


/* RESPONSIV MEDIA QUERY */
/* RESPONSIVE FOR SMALL DEVICE OR PHONE DEVICES */
@media screen and (max-width:600px) {
    nav {
        flex-direction: column;
    }

    .banner {
        padding: 20px;

    }

    .banner-content {
        padding-top: 5px;
    }

    .form {
        width: 287px;
    }

    .banner-title {
        font-size: 1rem;
    }

}